div.tooltip {
    box-shadow: 2px 2px 5px grey;
    position: absolute;
    text-align: left;
    /* width: 300px; */
    /* height: 90px; */
    /* width: 100%; */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
}

div.tooltip-fields {
    float: left;
    height: 65px;
    padding-right: 50px;
    font: 12px sans-serif;
    color: gray;
    background: white;
    border: 0px;
    pointer-events: none;
}

div.tooltip-vals {
    /* position: absolute; */
    float: right;
    top: 8px;
    right: 5px;
    height: 65px;
    font: 12px sans-serif;
    color: black;
    background: white;
    border: 0px;
    pointer-events: none;
}

h3 {
    color: red; 
}

.viz-area {
    background-color: #FFEE3E;
    max-width: 900px;
}

rect {
    fill: #70B8EB;
}

.viz-area svg {
    background-color: white;
}