body { font: 12px Arial;}

path {
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: gray;
    color: gray;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 260px;
    height: 260px;
    font: 8px sans-serif;
    background: white;
    border: solid lightslategrey 1px;
    border-radius: 8px;
    pointer-events: none;
}

.dropdown-div {
    position: absolute;
    top: 110px;
    left: 780px;
}

svg.container {
    position: absolute;
    top: 70px;
    left: 30px;
}

.title {
    position: absolute;
    top: 30px;
    left: 240px;
    width: 430px;
    text-align: center;
    font: 23px sans-serif;
}

text.axis-container {
    font-size: 10pt;
}

text.axis-scatter {
    font-size: 7pt;
}

.scatter g {
    font-size: 5pt;
}